@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@700;700&display=swap");

.font-alfa {
  font-family: "Alfa Slab One", sans-serif;
}

.font-alfa-regular {
  font-family: "Alfa Slab One", sans-serif;
  font-weight: 400;
}

.font-alfa-semibold {
  font-family: "Alfa Slab One", sans-serif;
  font-weight: 600;
}

.font-alfa-bold {
  font-family: "Alfa Slab One", sans-serif;
  font-weight: 900;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* ---------- DESKTOP NAVBAR  ---------- */

.nav-link {
  position: relative;
  text-decoration: none;
  color: #000000be;
  transition: color 0.3s;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #0000ff, #ff00ff);
  transition: width 0.5s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active::after {
  width: 100%;
}

.Logo {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ---------- Hero Section ---------- */

.backgroundHero {
  border-radius: 20px;
}

.backgroundContact {
  border-radius: 20px;
}

.hero-background {
  background-image: url("/fundo3.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

/* ---------- Hero Section / Button (Facilite seu processo) ---------- */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-bg {
  background: linear-gradient(270deg, #0000ff, #8a2be2, #00007c);
  background-size: 400% 400%;
  animation: gradient 6s ease infinite;
}

/* ---------- Hero Section / Button (rolar para baixo) ---------- */
@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.bounce {
  animation: bounce 2s infinite;
}

.clients {
  background-color: #010139;
}

.expirience {
  background-color: #17006d;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contact {
  background-color: white;
}

.contact:hover {
  background: linear-gradient(270deg, #0000ff, #8a2be2, #00007c);
  background-size: 400% 400%;
  animation: gradient 6s ease infinite;
}

.lineDeal {
  border-top-right-radius: 250px;
  border-bottom-right-radius: 250px;
}

.deal {
  border-top-right-radius: 246px;
  border-bottom-right-radius: 246px;
}

.buttons {
  background-color: #9f53ff;
  font-size: 15px;
}

.buttons li {
  display: flex;
  width: 50px;
  height: 60px;
  border-radius: 30px;
  background-color: #808cf5;
  color: #fff;
  padding: 15px;
  font-weight: 600;
}

.buttons li.active {
  background-color: #512885;
  color: white;
  border-top: 6px solid #fafafa;
  border-left: 8px solid #fafafa;
  border-right: 8px solid #fafafa;
  border-radius: 30px 30px 0 0;
  transform: translateY(13px);
}

.content-services {
  background-color: #512885;
}

.content-services .cards {
  color: #030022;
}

.logo {
  border-radius: 50px;
}

.logo:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.card3,
.card24,
.card15 {
  transition: transform 0.9s ease-in-out, z-index 0.9s ease-in-out,
    filter 0.9s ease-in-out;
}

.card3 {
  transform: scale(1);
  z-index: 1000;
}

.card24 {
  transform: scale(0.9);
  z-index: 500;
  filter: blur(2px);
}

.card15 {
  transform: scale(0.75);
  z-index: 100;
  filter: blur(4px);
}

.slick-next:before,
.slick-prev:before {
  color: #3c0e80 !important;
  font-size: 30px !important;
  content: "←" !important;
}

.slick-prev:before {
  color: #3c0e80 !important;
  font-size: 30px !important;
  content: "→" !important;
}

.partners-div {
  display: flex;
  justify-content: center;
}

.slider-container {
  height: 130px;
}

.card-size {
  width: 10rem;
  height: 8rem;
}

.text-services {
  font-size: 16px;
  line-height: 1.1rem;
}

@media (min-width: 1800px) {
  .text-services {
    font-size: 18px;
  }
}

.footer-design {
  color: #3c0e80;
  font-weight: bold;
  font-family: "Blinker", sans-serif !important;
}

/* Posibilities */
@media (max-width: 1600px) {
  .possibilities-padding {
    padding-left: 3rem;
  }

  .possibilities-h1 {
    font-size: 50px;
  }

  .possibilities-p {
    font-size: 25px;
    line-height: 2rem;
  }
}

/* Circle Chart */
.progress-circle {
  transform: rotate(90deg) rotateY(190deg);
}

.progress-circle circle {
  z-index: 99;
  fill: none;
  stroke: #3c0e80;
  stroke-dasharray: 377;
  /* Circunferência do círculo (2 * PI * r) */
  stroke-dashoffset: 377;
  /* Totalmente oculto */
  stroke-linecap: round;
  transition: stroke-dashoffset 1s linear;
}

.complete .progress-circle circle {
  stroke-dashoffset: 0;
  /* Totalmente visível */
}

.div-chart {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 44%;
  left: 50%;
  width: 90px;
  height: 90px;
  transform: translate(-50%, -50%);
  background-color: #808cf5;
  border-radius: 50%;
}

.text-chart {
  font-size: 40px;
  font-weight: 700;
  color: white;
}

.font-10mil {
  font-family: "Alfa Slab One", sans-serif;
}

@media (max-width: 1600px) {
  .exp-container {
    width: 98%;
  }

  /* .font-10mil {
    font-size: 50px;
    left: 3rem;
  }

  .font-10mil-h2 {
    font-size: 30px;
    top: 7.7rem;
    left: 4.7rem;
  } */

  .media-pedding {
    padding-right: 1rem;
  }
}

.band-feedback {
  background: linear-gradient(to bottom, #AF11EA, #0000CC);
}

.text-customPurple300 {
  margin-left: 35px;
}

.align-stars {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}



/* Estilizar o contêiner que terá a barra de rolagem */
.scrollable-container {
  height: 100vh;
  /* Defina a altura do contêiner para demonstrar a rolagem */
  overflow-y: auto;
}

/* Estilizar a barra de rolagem em navegadores baseados em WebKit (Chrome, Safari) */
.scrollable-container::-webkit-scrollbar {
  width: 12px;
  /* Largura da barra de rolagem */
}

.scrollable-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Cor do fundo da barra de rolagem */
  border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: #888;
  /* Cor do "polegar" da barra de rolagem */
  border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Cor do "polegar" quando hover */
}

/* Estilizar a barra de rolagem em navegadores baseados em Firefox */
.scrollable-container {
  scrollbar-width: thin;
  /* Largura da barra de rolagem */
  scrollbar-color: #888 #f1f1f1;
  /* Cor do "polegar" e do fundo da barra de rolagem */
}

/* Adicionar estilos adicionais para a barra de rolagem em navegadores modernos */
.scrollable-container {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Estilizar a barra de rolagem para Internet Explorer e Edge */
@supports (-ms-overflow-style: none) {
  .scrollable-container {
    -ms-overflow-style: none;
    /* Ocultar a barra de rolagem padrão */
  }

  .scrollable-container::-ms-scrollbar {
    width: 12px;
  }

  .scrollable-container::-ms-scrollbar-track {
    background: #f1f1f1;
  }

  .scrollable-container::-ms-scrollbar-thumb {
    background: #888;
  }

  .scrollable-container::-ms-scrollbar-thumb:hover {
    background: #555;
  }
}